@charset "utf-8";

main {
    padding-top: 130px;
    margin-bottom: 20px;
}

main .slide {
    margin-bottom: 10PX;
}

main .slide img {
    width: 100%;
}

section>h2,
.right_con>h3 {
    display: none;
}

.left_con {}

.left_con>h3,
.cen_con>h3 {
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 500;
    color: #525d9f;
    border-bottom: 1px solid #3834ad;
    padding: 10px 0px;
}

.left_con>ul {
    margin-bottom: 70px;
}

.left_con>ul>li {
    line-height: 30px;

}

.left_con>ul>li>a:hover {
    text-decoration: underline;
}

.cen_con .lnb {
    padding-left: 30px;
    padding-top: 40px;
}

.cen_con .lnb>ul {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 320px;

}

.cen_con .lnb>ul>li:nth-child(5) {
    margin-top: -10px;
}

.cen_con .lnb>ul>li:nth-child(6) {
    margin-top: -10px;
}

.cen_con .lnb>ul>li:nth-child(7) {
    margin-top: -10px;
}

.cen_con .lnb>ul>li:nth-child(8) {
    margin-top: -10px;
}
